@model RockwellBlog.Models.Post
@using RockwellBlog.Enums

@{
    ViewData["Title"] = "Create";
}


<div class="text-center">
    <form class="form-signin" asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <img class="mb-4" src="~/img/create.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Create a New Post</h1>
        <div class="form-group">
            <label asp-for="BlogId" class="sr-only control-label"></label>
            <select asp-for="BlogId" class="form-control" asp-items="ViewBag.BlogId">
                <option value="" disabled selected hidden>Select a Category...</option>
            </select>
        </div>
        <div class="form-group">
            <label class="sr-only control-label" asp-for="Title"></label>
            <input id="inputEmail" asp-for="Title" class="form-control" placeholder="Post Title" required autofocus>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="sr-only control-label" asp-for="Abstract">Description</label>
            <input asp-for="Abstract" id="inputPassword" class="form-control" placeholder="Abstract" required>
            <span asp-validation-for="Abstract" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="sr-only control-label"></label>
            <textarea asp-for="Content" rows="20" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <div class="custom-file">
                <input asp-for="ImageFile" type="file" name ="file" class="form-control-file custom-file-input" multiple onchange="processSelectedFiles(this)" />
                <label class="control-label custom-file-label text-left text-muted" id="file-label">Choose a Header Image for this Post</label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PublishState" class="sr-only control-label"></label>
            <select asp-for="PublishState" class="form-control" asp-items="@Html.GetEnumSelectList<PublishState>()"></select>
            <span asp-validation-for="PublishState" class="text-danger"></span>
        </div>
        <div class="form-group">
            <span>
                <label asp-for="IsFeatured" class="sr-only control-label">Feature This Post?</label>
                <input asp-for="IsFeatured" type="checkbox" data-toggle="toggle" data-on="Featured" data-off="Not Featured" data-width="200" data-height="25">
            </span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

