@using Microsoft.AspNetCore.Identity
@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{

    //create a variable to store an instance of user record then reference the DisplayName
    var user = await UserManager.GetUserAsync(User);

    <li class="nav-item">
        <a  class="mt-3 nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @user.DisplayName!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="mt-2 nav-link btn btn-link text-light">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="mt-2 nav-link" asp-area="Identity" asp-page="/Account/Register">Register <i class="fas fa-user-plus"></i></a>
    </li>
    <li class="nav-item">
        <a class="mt-2 nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
