@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Your Email Address is Confirmed!";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <a class="btn btn-primary rounded" asp-controller="Identity" asp-action="Account" asp-route-id="Login">Login</a>
</div>