@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to reset your password.
    </p>
    <a class="btn btn-primary rounded" asp-controller="Home" asp-action="Index">Home <i class="fas fa-home"></i></a>
</div>