@model RockwellBlog.Models.Blog

@{
    ViewData["Title"] = "Create a New Category";
}
<div class="text-center">
    <form class="form-signin" asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <img class="mb-4" src="~/img/create.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">@ViewData["Title"]</h1>
        <div class="form-group">
            <label class="sr-only control-label" asp-for="Name">Email address</label>
            <input id="inputEmail" asp-for="Name" class="form-control" placeholder="Category Name" required autofocus>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="sr-only control-label" asp-for="Description">Description</label>
            <input asp-for="Description" id="inputPassword" class="form-control" placeholder="Description" required>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="custom-file">
                <input asp-for="ImageFile" type="file" class="form-control-file custom-file-input" multiple onchange="processSelectedFiles(this)"/>
                <label class="control-label custom-file-label text-left text-muted">Choose an Image for this Category</label>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        <div>
            <a asp-controller="Home" asp-action="Index">Back to List</a>
        </div>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




